{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<h3> ¡Hola, {{ user.get_username }}! 😁 </h3>
<p>
  <a class="btn btn-outline-dark" href="{% url 'logout' %}">Cierra Sesión</a>
</p>
{% else %}
<h3> ¡Hola! 😁 </h3>
<p>
    <a class="btn btn-outline-dark" href="{% url 'login' %}">Inicia Sesión</a> o
    <a class="btn btn-outline-dark" href="{% url 'register' %}">Regístrate</a>
</p>
</ul>

{% endif %}

<hr>

{% if messages %}
  {% for message in messages %}
  <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
    <button class="delete"></button>
    {{ message }}
  </div>
  {% endfor %}
{% endif %}

<h5> Últimos productos: </h5>
<ul>
  {% for producto in latest_products %}
  <li>
    <a href="{% url 'product-detail' producto.pk %}">
      {{ producto.nombre }}
    </a>
      - $ {{ producto.precio }}
  </li>
  {% empty %}
  <li>Aun no hay productos disponibles.</li>
  {% endfor %}
</ul>

<a class="btn btn-outline-info" href="{% url 'product-list' %}">Ver lista completa de productos</a> 

{% endblock %}
