{% extends "base.html" %}

{% block content %}
<hr>
    <h3 class="title"> Checkout </h3>

    <hr>

    <div class="block">
        <h5 class="subtitle"> Completa tus datos </h5>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit" class="button is-info">
        </form>
    </div>
    <hr>
    <div class="content">
      <a class="btn btn-outline-info" href="{% url 'product-list' %}">Lista completa de productos</a>
    </div>
{% endblock %}