{% extends "base.html" %}

{% block content %}
<hr>
<h3 class="title"> Categorías </h3>

<hr>
<div class="list-group" aria-labelledby="navbarDropdown">
  {% for categoria in categorias %}
  <a class="list-group-item list-group-item-action list-group-item-warning" href="?categoria={{categoria.pk}}">{{categoria.nombre}}</a>
  {% endfor %}
  <a class="list-group-item list-group-item-action list-group-item-warning" href="{% url 'product-list' %}">Ver lista completa de productos</a>
</div>

<hr>

<h3 class="title">Productos </h3>
<div class="container-fluid">
  <div class="row"style="display: flex; flex-wrap:wrap; justify-content:center">
    {% for producto in productos %}
      <div class="card">
        <div class="card-image" style="width: 220px !important;">
          <figure class="text-center">
            <img src="{{ producto.images.first.image.url|default:'https://via.placeholder.com/128' }}" class="rounded" alt="Imagen no disponible">
          </figure>
        </div>
        <div class="text-center">
          <h6>
            <a href="{% url 'product-detail' producto.pk %}">
              {{ producto.nombre }}
            </a>
          </h6>
            <p>$ {{ producto.precio }}</p>
        </div>
      </div>
  {% empty %}
    <div class="content">
      <h6>Aun no hay productos disponibles.</h6>
    </div>
  {% endfor %}
  </div>
</div>
<hr>



{% endblock %}